<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="items.css">
</head>
<body>
    <div id="root">
        <div class="top">
            <div class="logo">
                HospitalSystem
            </div>
            <div class="navigation">
                <li><a href="/">home</a></li>
                <li><a href="/admin">admin</a></li>
                <li><a href="#">info</a></li>
            </div>
        </div>

        <div class="body">
            
            <div class="actual_content">
                <div class="monitor">
					<div class="items">
                <div class="title">
                    Activities
                </div>
                <div class="list" th:switch="${apps}">
                <div th:case="null">No activities found</div>
                <div th:case="*"></div>
                    <div class="card" th:each="app: ${apps}">
                    
						<p>  
							Mr   
							<span th:text="${app.patient.first_name}"></span>
							<span th:text="${app.patient.last_name}"></span>
							
							, a patient booked an appointment on
							
							<span th:text="${app.time_created}"></span>
							                
							with Dr. 
	                    	<span th:text="${app.doctor.first_name}"></span>
							<span th:text="${app.doctor.last_name}"></span>
							. 
                    	</p>
                    	<p>
                    		The appointment is scheduled for 
                    		<span th:text="${app.date}"></span>
                    	</p>
                    	<p>
                    		CAUSE
                    	</p>
                    	<p>
                    		<span th:text="${app.patient.case_details}"></span>
                    	</p>
						

                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>