<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div class="top">
            <div class="logo">
                HospitalSystem
            </div>
            <div class="navigation">
                <li><a href="/">home</a></li>
                <li><a href="/admin">admin</a></li>
                <li><a href="#">info</a></li>
            </div>
        </div>
        
        <div class="content">
            <div class="side-nav">
                <div class="cap">
                    View available items
                </div>
                <ul class="list">
                    <li><a href="/doc_list">doctors</a></li>
                    <li><a href="/patients">patients</a></li>
                    <li><a href="/appointments">appointments</a></li>
                </ul>
                <div class="cap">
                    Create new items
                </div>
                <ul class="create">
                    <li><a href="/createDoctor">add doctor</a></li>
                    <li><a href="/createPatient">add patient</a></li>
                    <li><a href="/saveApps">add appointment</a></li>
                    <li><a href="/createDepartment">add department</a></li>
                </ul>
            </div>

            <div class="main-content">
                <div class="welcome-page">
                    <div class="cap">
                        Welcome to the official site of this hospital, it is our pleasure to provide services that help make life better.
                    </div>
                    <div class="slogan">
                        We treat but God Heals
                    </div>
                </div>
                <div class="hosp-details">
                    <div class="services">
                        <div class="caption">
                            In this hospital we provide many services convenient to many patients without disregarding other patients.
                        </div>
                        <div class="service-list">
                            <div class="service">
                                appointment booking
                            </div>
                            <div class="service">
                                consultation
                            </div>
                            <div class="service">
                                check progress
                            </div>
                            <div class="service">
                                Get detailed report of your medical history
                            </div>
                        </div>
                        <div class="other-comments">
                            Well you know you came for the best and this is the best, It is our plesure to work with anyone
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>   
</body>
</html>