<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="forms.css">
</head>
<body>
    <div id="root">
        <div class="top">
            <div class="logo">
                HospitalSystem
            </div>
            <div class="navigation">
                <li><a href="/">home</a></li>
                <li><a href="/admin">admin</a></li>
                <li><a href="#">info</a></li>
            </div>
        </div>
        
        <div class="content">
            <div class="side-nav">
                <div class="cap">
                    View available items
                </div>
                <ul class="list">
                    <li><a href="/doc_list">doctors</a></li>
                    <li><a href="/patients">patients</a></li>
                    <li><a href="/appointments">appointments</a></li>
                </ul>
                <div class="cap">
                    Create new items
                </div>
                <ul class="create">
                    <li><a href="/createDoctor">add doctor</a></li>
                    <li><a href="/createPatient">add patient</a></li>
                    <li><a href="/saveApps">add appointment</a></li>
                    <li><a href="/createDepartment">add department</a></li>
                </ul>
            </div>

            <div class="add_item">
                <div class="cap">
                    Add a new appointment
                </div>
                <form class="list-1" action="createApps" enctype="multipart/form-data">
                        Patient ID
                        <input type="number" name="patient" id="" required>
                        Doctor ID
                        <input type="number" name="doctor" id="" required>
                        Appointment Details
                        <input type="text" name="details" id="" required>
                        Appoinment Date
                        <input type="date" name="date" id="" required>
                        Appointment Start Time
                        <input type="time" name="time_start" id="" required>
                        Appointment End Time
                        <input type="time" name="time_end" id="" required>
                        <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>   
</body>
</html>