<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="items.css">
</head>
<body>
    <div id="root">
        <div class="top">
            <div class="logo">
                HospitalSystem
            </div>
            <div class="navigation">
                <li><a href="/">home</a></li>
                <li><a href="/admin">admin</a></li>
                <li><a href="#">info</a></li>
            </div>
        </div>
        
        <div class="content">
            <div class="side-nav">
                <div class="cap">
                    View available items
                </div>
                <ul class="list">
                    <li><a href="/doc_list">doctors</a></li>
                    <li><a href="/patients">patients</a></li>
                    <li><a href="/appointments">appointments</a></li>
                </ul>
                <div class="cap">
                    Create new items
                </div>
                <ul class="create">
                    <li><a href="/createDoctor">add doctor</a></li>
                    <li><a href="/createPatient">add patient</a></li>
                    <li><a href="/saveApps">add appointment</a></li>
                    <li><a href="/createDepartment">add department</a></li>
                </ul>
            </div>

            <div class="items">
                <div class="title">
                    Patients
                </div>
                <div class="list" th:switch="${patients}">
                <div th:case="null">No record found</div>
                <div th:case="*">
                    <div class="card" th:each="patient: ${patients}">
                        <div class="names">
                            Mr. 
                            <span th:text="${patient.first_name}"></span>
                            <span th:text="${patient.last_name}"></span>
                        </div>
                        <div class="roles">
                            <div th:text="${patient.case_details}"></div>
                        </div>
                        
                        <div class="links">
                        	<a th:href="@{/patients/{id}(id = ${patient.pat_id})}" class="view"> show </a>
                        	<a th:href="@{/patients/delete/{id}(id = ${patient.pat_id})}" class="delete"> delete </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>   
</body>
</html>